step1: justify-content: flex-end;
step2: justify-content: center;
step3: justify-content: space-around;
step4: justify-content: space-between;
step5: align-items: flex-end;
step6: justify-content: center;
       align-items: center;
step7: justify-content: space-around;
       align-items: flex-end;
step:8 flex-direction: row-reverse;
step9: flex-direction: column;
step10: flex-direction: row-reverse;
        justify-content: flex-end;
step11: flex-direction: column;
	justify-content: flex-end;
step12: flex-direction: column-reverse;
	justify-content: space-between;
step13: justify-content: center;
	align-items: flex-end;
	flex-direction: row-reverse;
step14: order: 1
step15: order: -1;
step16: align-self: flex-end;
step17: order: 1;
	align-self: flex-end;
step18: flex-wrap: wrap;
step19: flex-direction: column;
	flex-wrap: wrap;
step20: flex-flow: column wrap;
step21: align-content: flex-start; 
step22: align-content: flex-end;
step23: flex-direction: column-reverse;
	align-content: center;
step24: flex-flow: wrap-reverse column-reverse;
	justify-content: center;
	align-content: space-between;